extends layout

block content
  h1.titulo= title

  ul
  each author in author_list
    li.texto
      a(href=author.url).palavras #{author.name}
      | (#{author.lifespan})

  else
    li There are no authors.
