extends layout

block content
  h1.titulo= title
  
  ul
    each book in book_list
      li.texto
        a(href=book.url).palavras #{book.title}
        |  (#{book.author.name})

    else
      li There are no books.
